.catalog-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    margin: 50px 0;
}

.catalog-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.catalog-left-filters {
    display: flex;
}

.catalog-filter-container {
    position: relative;
}

.catalog-filter-btn,
.catalog-filter-trending,
.catalog-load-more-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 25px;
    background: linear-gradient(180deg, rgba(33,33,37,1) 0%, rgba(46,45,49,0.8) 100%);
    border: 1px solid #2E2D31;
    border-radius: 4px;
}

.catalog-filter-trending {
    margin-left: 20px;
    cursor: pointer;
}

.catalog-filter-trending.selected,
.catalog-load-more-button {
    background: #FE3189;
}

.catalog-filter-trending.selected {
    cursor: default;
}

.catalog-load-more-button {
    margin: auto;
    width: fit-content;
}

.catalog-filter-btn img{
    width: 10px;
    margin-right: 10px;
}

.catalog-filter-dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgba(33,33,37,1) 0%, rgba(46,45,49,0.8) 100%);
}

.catalog-filter-dropdown-content li {
    padding: 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.catalog-filter-container:hover .catalog-filter-dropdown-content {
    display: block;
}

.catalog-movies-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.catalog-movies-container.wrap {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-movies-container.wrap .catalog-movie {
    width: 48%;
}

@media(max-width: 768px) {
    .catalog-movies-container.wrap {
        flex-direction: column;
    }

    .catalog-movies-container.wrap .catalog-movie {
        width: auto;
    }

    .catalog-filter-container.display-mode {
        display: none;
    }
}

@media(max-width: 400px) {
    .catalog-filter-btn,
    .catalog-filter-trending, 
    .catalog-load-more-button {
        padding: 10px 4px;
    }
}