.slide-movie-container {
    cursor: pointer;
    margin: 0 20px;
}
.slide-movie-image {
    width: 218px;
    height: 328px;
    margin-bottom: 14px;
}

.slide-movie-info h4{
    font-size: 1.8rem;
}

.slide-movie-info span{
    font-size: 1.3rem;
    color: #FE3189;
}

.slide-movie-rate-container {
    display: flex;
    align-items: center;
}

.slide-movie-rate-container span{
    font-size: 1.4rem;
    color: #EAEAEA;
    margin-left: 10px;
}