.carousel-movie-container {
    cursor: pointer;
    margin: 0 20px;
}
.carousel-movie-image {
    width: 218px;
    height: 328px;
    margin-bottom: 14px;
    background-position: center;
    background-size: cover;
    transition: all ease 0.2s;
}

.carousel-movie-image:hover {
    transform: scale(1.05);
}

.carousel-movie-info h4{
    font-size: 1.8rem;
}

.carousel-movie-info span{
    font-size: 1.3rem;
    color: #FE3189;
}

.carousel-movie-rate-container {
    display: flex;
    align-items: center;
}

.carousel-movie-rate-container span{
    font-size: 1.4rem;
    color: #EAEAEA;
    margin-left: 10px;
}