.search-bar-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #212125;
    box-shadow: 0px 15px 25px 4px rgb(0 0 0 / 10%);
    padding: 40px 0;
    z-index: 3;
    margin-top: 2px;
}

.search-bar-container.on {
    display: flex;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 1040px;
}

.search-bar input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #FE3189;
    padding-bottom: 10px;
    font-size: 3rem;
    /* margin: 0 20px; */
    width: 100%;
    max-width: 1000px;
}

.search-bar-movies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width: 768px) {
    .search-bar input {
        font-size: 2.5rem;
        margin: 0;
    }
    
}