.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
    position: relative;
    max-width: 1300px;
}

.slider-arrow-right,
.slider-arrow-left {
    margin: 0 30px;
    position: absolute;
    cursor: pointer;
}

.slider-arrow-right {
    right: 0;
}

.slider-arrow-left {
    left: 0;
}

.slider-content {
    width: 80%;
    max-width: 1040px;
}

.slider-title {
    margin: 0 20px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.slider-title span {
    font-weight: 100;
}

.slider-title-circle {
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #FE3189;
}

.slider-movies-container {
    overflow: hidden;
}

.slider-movies {
    display: flex;
    overflow: hidden;
    width: fit-content;
    transition: all ease 0.5s;
}